* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: vazirl;
   font-size: 20px;
   user-select: none;
}

a {
   text-decoration: none;
   color: inherit;
}

@font-face {
   font-family: vazirl;
   src: url('/fonts/Vazir-Light.ttf') format('truetype');
}

@font-face {
   font-family: vazirm;
   src: url('/fonts/Vazir-Medium.ttf') format('truetype');
}

@font-face {
   font-family: vazirb;
   src: url('/fonts/Vazir-Bold.ttf') format('truetype');
}

html {
   overflow: hidden; /* Disable native scrolling */
}

body {
   overflow: hidden; /* Disable native scrolling */
}

.productionsHolder {
   overflow-y: auto; /* Enable scrolling within the container */
   -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}